<div class="container text-center" style="margin-top: 50px;">
  <label for="basic-url" class="form-label">Paste the URL to be shortened</label>
  <form method="POST" action="/urls">
    <div class="input-group mb-3">
      <input type="url" class="form-control" placeholder="Enter the link here" value=" {{#if warning}}{{warning}}{{/if}}" aria-label="origin_url" name="origin_url" id="basic-url" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">GO!</button>
    </div>
  </form>
  
 {{#if short_url}}
  <p>Success! Copy this link. </p>
  <span id="copyText">{{ short_url }}</span>
  <button type="button" onclick="copyLink()">Copy</button>
 {{/if}}

</div>

